---
export interface Props {
  title: string;
  description: string;
}

import Footer from "./Footer.astro";
import Header from "./Header.astro";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/usv4jct.css" />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content={title} />

    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />

    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  body {
    font-family: "Museo-Slab", serif;
    line-height: 1.25;
    color: #ffffff;
  }
</style>
